<?xml version="1.0" encoding="UTF-8"?>
<module xm1ns="urn:jboss:module:1.1" name="">
  <resources>
    <resource-root path="TriggerRunner.jar"/>
  </resources>
  <dependencies>
    <dependency>
		  <groupId>org.quartz-scheduler</groupId>
		  <artifactId>quartz</artifactId>
		  <version>2.1.5</version>
    </dependency>
  </dependencies>
</module>
